$primary = #0b132b
$secondary = #6fffe9
$tertiary = #FF70AE
$border-radius = 10px
$list-items-padding = 10px 20px
$btn-shadow = 0 12px 16px 0 rgba(0,0,0,0.24)
$box-shadow = 0px 5px 20px 5px rgba(0, 0, 0, 0.15)
$margin = 2rem
$title-size = 2rem
$flex-gap = 0.5rem